.article-cards{
    height: 100%;
}

.cards-title h1 {
    text-align: center;
    color: var(--color-active);
    margin-top: 10px;
}

.cards-title div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-title .boton, form .boton{
    background-color: #0569ff;
    color: white;
    align-self: auto;
}

form .boton:hover{
    background-color: #6ca7ff;
}

.space-icon i{
    top: 6px;
    left: 7px;
}

div input{
    border-radius: 5px;
    border: 1px solid black;
}
    
.foro-datatable{
    margin-top: 20px;
}

.cards {
    margin-top: 0;
    display: none;
    animation: show 0.5s;
    -o-animation: show 0.5s;
    -moz-animation: show 0.5s;
    -webkit-animation: show 0.5s;
}

.cards.active{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.cards h3{
    margin-top: 1rem;
}
    
.card-foro {
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-foro:nth-child(odd){
    background-color: #e2edff;
}

.card-foro:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
    
.card-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tabs {
    list-style: none;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: center;
}

.tab{
    padding: 0 1rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    position: relative;
    top: 2px;
    font-size: 1.05rem;
    font-weight: bold;
}

.tab:hover{
    color: var(--color-active);
}

.tab.active{
    color: var(--color-active);
    border-bottom: 2px solid var(--color-active);
}
    
.card-header .imagen-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
    
.card-header h4 {
    margin: 0;
    font-size: 1.2rem;
    flex-grow: 1;
}

.no-result{
    display: none;
}
   
.card-body {
    font-size: 1rem;
    color: #333;
}
    
.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #666;
}

dialog {
    width: 70%;
    padding: 1.5rem;
    border-bottom-left-radius:var(--border-radius);
    border-bottom-right-radius:var(--border-radius);
    margin: 0 auto;
    position: fixed;
    top: 0;
    animation: modal 0.5s ease-in-out;
    -o-animation: modal 0.5s ease-in-out;
    -moz-animation: modal 0.5s ease-in-out;
    -webkit-animation: modal 0.5s ease-in-out;
}

dialog::backdrop{
    background-color: #6a8dff6a;
}

dialog form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

dialog button{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 1.5em;
    border: none;
    background-color: #fafafa;
}

form{
    align-items: flex-end;
}

form input[type="text"]{
    padding: .5rem .2rem;
}

textarea{
    min-height: 60px;
    border-radius: 5px;
    border: 1px solid black;
}

@media screen and (min-width:720px) {
    .article-cards{
        height: auto;
    }
    
    .cards{
        margin: 1rem auto;
        width: 90%;
    }

    .card-foro{
        border-radius: 10px;
    }
}

/*animacion del cambio de tab*/
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes modal {
    from{
      top: -50vw;
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
    