*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --color-fondo-oscuro: #0066ff;
    --color-fondo-claro:#d4f9ff;
    --color-fondo-header:#090760;
    --color-fondo-footer: rgba(22, 19, 59, 0.895);
    --hover-redes: #599cff;
    --bg-btn: rgb(141 227 233);
    --border-radius: 10px;
    --size-h1: 2.5rem;
    --transition: all 0.2s ease-in-out;
    
    font-size: 16px;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(135deg, var(--color-fondo-claro) 0%, var(--color-fondo-oscuro) 100%);
}

main{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.boton{
    padding: .5rem 1rem;
    margin: .5rem;
    border: 2px solid;
    border-radius: var(--border-radius);
    background-color: var(--bg-btn);
    font-weight: bold;
    transition: all 0.2s ease;
    cursor: pointer;
    color: black;
    align-self: center;
    text-decoration: none;
}

.boton:hover{
    background-color: rgba(98, 157, 161, 0.8);
}

.boton:active{
    background-color: rgb(182, 234, 236);
}
/*=============================================
=            Estilos de cabecera            =
=============================================*/

header {
    width: 100%;
    padding: 1rem;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fondo-header)
}
  
.logo {
max-width: 100px;
}

.mobile-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguesa {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header-title{
    display: none;
    font-size: 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.nav-menu.abrir{
    display: block;
}

nav > ul{
list-style: none;
}

.nav-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-fondo-header);
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    letter-spacing: 2px;
} 

nav.nav-menu ul{
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

nav.nav-menu ul li:not(li:last-of-type){
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 20px;
    transition: var(--transition);
}

nav.nav-menu ul li:hover:not(li:last-of-type){
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.nav-item a:active{
    color:#599cff;
}

nav ul li:last-of-type{
    display: none;
}

/*=====  End of Estilos de cabecera  ======*/


/*=============================================
=            cards          =
=============================================*/
.article-cards{
    max-width: 90%;
    margin: 1rem auto;
    background-color: white;
    border-radius: var(--border-radius);
    text-align: center;
}

.cards-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 17px;
    font-size: 20px;
    text-align: center;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    justify-content: center;
    gap: 1.5rem;
  
}

.card {
    background: linear-gradient(135deg, var(--color-fondo-oscuro) 0%, #79ccff 100%);
    border-radius: var(--border-radius);
    border: 1px solid black;
    overflow: hidden;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.imagen-icon {
    width: 60px;
    height: 60px;
    background-color: var(--color-fondo-header);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
/*=====  End of cards  ======*/



/*=============================================
=            Formularios            =
=============================================*/

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*=====  End of Formularios  ======*/



/*=============================================
=            Estilos de la modal            =
=============================================*/

dialog{
    padding: 1rem 2rem;
    border: none;
    background-color: #fafafa;
    margin: 0 auto;
    position: relative;
    top: 10%;
    max-height: 90vh;
}

/*=====  End of Estilos de la modal  ======*/




/*=============================================
=            Estilos del footer            =
=============================================*/

footer {
    background: var(--color-fondo-footer);
    color: white;
    padding: 16px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
display: flex;
flex-direction: column-reverse;
justify-content: space-evenly;
align-items: center;
gap: .5rem;
font-size: 14px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.social-links {
display: flex;
flex-wrap: wrap;
gap: 16px;
}

.social-links a {
color: white;
font-size: 18px;
transition: var(--transition);
}

.social-links a:hover {
color: var(--hover-redes);
}

/*=====  End of Estilos del footer  ======*/



/*=============================================
=            Media querys            =
=============================================*/

@media screen and (min-width:720px){
    div.mobile-menu{
        display: none;
    }
    
    .nav-menu{
        display: block;
        position: static;
    }

    nav.nav-menu ul{
        flex-direction: row;
        margin-bottom: 0;
    }

    nav ul li:last-of-type{
        display: block;
    }

    .features-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .footer-content{
        flex-direction: row;
    }
      
}

@media screen and (min-width:850px) {
    .header-title{
        display: block;
    }
}

/*=====  End of Media querys  ======*/