body{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main > article {
    padding: 5%;
}

article.doscolumn{
    margin: 1rem;
    border-radius: var(--border-radius);
    background: linear-gradient(135deg, var(--color-fondo-oscuro) 0%, var(--color-fondo-claro) 100%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    align-items: center;
    gap: 1rem;
}

.doscolumn .doscolumn-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 17px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.doscolumn .doscolumn-image{
    width: 100%;
    aspect-ratio: 3/2;  
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 4px 10px black;
    max-width: 580px;
}